body {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

.best-place {
  background: url("https://static.pbcdn.in/cdn/images/home-v1/left-bg.png") left
      top no-repeat,
    url("https://static.pbcdn.in/cdn/images/home-v1/right-bg.png") right top
      no-repeat;
  min-height: 510px;
}

.best-place .container {
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  padding: 0;
  transition: all 0.4s ease-in;
}

.container {
  width: 1170px;
  position: relative;
}

.best-place .container .left-block {
  display: flex;
  overflow: auto;
  padding-bottom: 26px;
  scrollbar-width: none;
}

.best-place .container .left-block .txt-block.opacity-1 {
  opacity: 1;
  transition: all 0.5s ease-in;
  margin-left: 0;
}
.best-place .container .left-block .txt-block {
  font-size: 36px;
  width: 40%;
  color: #253858;
  line-height: 54px;
  font-weight: 300;
  align-self: flex-start;
  margin-top: 110px;
}

.best-place .container .left-block .txt-block span {
  font-weight: 500;
}

.best-place .container .right-block.top-0 {
  margin-top: 0;
  transition: all 0.5s ease-in;
  opacity: 1;
}
.best-place .container .right-block {
  width: 60%;
  text-align: right;
  padding-right: 10px;
}

.best-place .container .right-block .info-box::before {
  content: "";
  position: absolute;
  left: -2;
  top: 0;
  height: 100%;
  width: 4px;
  background: #2d3cd9;
}

.best-place .container .right-block .info-box {
  width: 200px;
  vertical-align: top;
  background: #fff;
  margin: 40px 48px 0 0;
  height: 180px;
  text-align: left;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(52, 105, 203, 0.16);
  position: relative;
  left: 0;
  overflow: hidden;
}

.best-place .container .right-block .info-box p.head {
  font-size: 18px;
  font-weight: 600;
  color: #2d3cd9;
  padding: 0 16px 0;
}
p {
  margin: 0;
}

.best-place .container .right-block .info-box p.copy {
  font-size: 14px;
  line-height: 21px;
  color: #253858;
  padding: 10px 11px 0 16px;
}

.best-place .container .right-block .info-box.insurer {
  margin: 64px 40px 0 0;
}

.best-place .container .right-block .info-box {
  width: 200px;
  vertical-align: top;
  background: #fff;
  height: 180px;
  text-align: left;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(52, 105, 203, 0.16);
  position: relative;
  left: 0;
  overflow: hidden;
}
.best-place .container .right-block .info-box.insurer::before {
  background: #0bbdf2;
}

.best-place .container .right-block .info-box.insurer span.top-icon {
  background-position: 0 -34px;
}

.best-place .container .right-block .info-box.insurer p.head {
  color: #0bbdf2;
}

.best-place .container .right-block .info-box.lowest-price::before {
  background: #47d990;
}

.best-place .container .right-block .info-box.lowest-price {
  margin: 24px 0 0 0;
}

.best-place .container .right-block .info-box.lowest-price span.top-icon {
  background-position: 0 -68px;
}

.best-place .container .right-block .info-box span.top-icon {
  width: 24px;
  height: 24px;
  margin: 16px;
  display: inline-block;
  background: url("https://static.pbcdn.in/cdn/images/home-v1/best-place-icons.png")
    no-repeat;
  background-size: 100%;
}

.best-place .container .right-block .info-box.lowest-price p.head {
  color: #47d990;
}

.best-place .container .right-block .info-box.claims::before {
  background: #ffc400;
}

.best-place .container .right-block .info-box.claims {
  margin: 46px 0 20px 48px;
}

.best-place .container .right-block .info-box.claims span.top-icon {
  background-position: 0 -102px;
}

.best-place .container .right-block .info-box.claims p.head {
  color: #ffc400;
}

element {
  width: 1px;
  height: 1px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
