body {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
}

div.ruby_menu_demo_header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  z-index: 999;
  /* border: 2px solid red; */
}
.ruby_wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  top: 0;
  margin: 0 auto;
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: center;
}

.ruby_menu {
  position: relative;
  padding: 0 10px;
  max-width: 1160px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
div.ruby_wrapper ul {
  margin: 0;
  padding: 0;
}

ul.ruby_menu > li {
  float: left;
  font-size: 14px;
}
ul.ruby_menu > li.logo_li {
  width: calc(100% - 904px);
}

.logo {
  width: 184px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin: 14px 0;
  background: url("https://cv.policybazaar.com/static/media/pb_logo.9fc224ee.svg")
    0 2px no-repeat;
  background-size: 100%;
}

.ruby_menu_mega {
  position: relative;
  margin-left: 300px;
}
.firstbox {
  display: block;
  line-height: 58px;
  padding: 0;
  margin: 0 14px;
  color: #172b4d;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 2px solid white;
}
.firstbox:hover {
  border-bottom: 2px solid blue;
}

.arrow {
  vertical-align: middle;
  color: #0065ff;
  font-size: medium;
}

.ruby_grid_lined {
  position: relative;
  left: -510px;
  /* width: 100%; */
  height: auto;
  background: #fff;
  overflow: hidden;
  border: 1px solid black;
  border-width: 1px;
}

.ruby_grid,
.ruby_grid_lined {
  padding: 0;
  margin: 0;
}

.ruby_row {
  position: relative;
  width: 1140px;
  height: auto;
  /* padding: 0 20px; */
  /* margin-bottom: 20px; */
  display: flex;
}

.ul_li_ul {
  /* position: absolute; */
  background: #fff;
  /* box-shadow: 0 6px 16px rgba(52, 105, 203, 0.16); */
  /* border-top: 1px solid #f1f1f1; */
  /* border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; */
  /* overflow: hidden; */
  /* border: 2px solid red; */
  text-align: left;
}

/* .ul_li_ul,
  .ruby_grid_lined {
    transform: translateY(5px);
    transition: all 0.1s ease;
  } */

.ul_li_ul_li {
  position: relative;
  /* border-bottom: 1px solid #f1f1f1; */
  padding: 10px 0;
  text-align: left;
}

.menu_ico {
  width: 21px;
  height: 28px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  background-size: 100%;
}
.icon_bg {
  background: url("https://static.pbcdn.in/cdn/images/svg/home-page-icons.svg?v=6")
    no-repeat;
}

.ruby_grid {
  z-index: 100;
}

.ruby_col_3 {
  width: 25%;
}

div.ruby_grid > div.ruby_row {
  padding: 16px;
}

.mt_30 {
  margin: 30px 0 0 0;
}
h3.ruby_list_heading a {
  color: #172b4d;
  text-decoration: none;
}

h3.ruby_list_heading {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  /* margin: 10px 0 0 0; */
  color: #172b4d;
  text-align: left;
  /* border: 2px solid red; */
}

.allmenu {
  color: #555;
  font-weight: 400;
  line-height: 18px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

h3.ruby_list_heading i.life_insurance {
  background-position: 1px 3.2%;
}
h3.ruby_list_heading i {
  width: 20px;
  height: 24px;
  display: inline-block;
  border: 1px solid #fff;
  vertical-align: middle;
  margin-right: 8px;
  background-size: 100%;
}

.navContainer_Jalert2 {
  width: 100%;
  color: blue;
  padding: 0 12px !important;
  border: 1px solid #0065ff;
  line-height: 28px;
  margin: 14px 0 0;
  border-radius: 8px;
  font-size: 14px;
  color: #0065ff;
  background-color: white;
  cursor: pointer;
}
